hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/localgeth
hardhat/typechain-types
.env
ops/testnet/.terraform/providers