hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/geth
hardhat/typechain-types
node_modules/*


ops/testnet/.terraform/providers
.idea/
.vscode/
.run/package lilylogger

package.json
package-lock.json

bin/
vendor/
./data/
.DS_Store
go1.22.2.linux-amd64
bacalhau_v1.0.3_linux_amd64.tar.gz
go1.22.2.linux-amd64.tar.gz
*.log
*/logs_bulk/*
*/tmp/*

.env*
tempo-data
tmp
outputs
lilypad
__debug_bin*