hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/geth
hardhat/typechain-types
.env
*.env
.env.*
ops/testnet/.terraform/providers
.idea/
.vscode/
.run/
bin/
vendor/
./data/
.DS_Store
