[Unit]
Description=Lilypad V2 On Chain Job Creator
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/lilypad"
EnvironmentFile=/app/lilypad/job-creator.env
Environment="SERVICE_SOLVER=0x346d811cbb883548252418121f5bb0371eb07049"
Environment="SERVICE_MEDIATORS=0xc66b9b74e307f30e7af79c03fee6ceb8b1ced997"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lilypad jobcreator

[Install]
WantedBy=multi-user.target
