[Unit]
Description=Lilypad V2 Mediator
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/lilypad"
EnvironmentFile=/app/lilypad/mediator.env
Environment="SERVICE_SOLVER=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lilypad mediator

[Install]
WantedBy=multi-user.target
