[Unit]
Description=Lilypad V2 Resource Provider
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/lilypad"
EnvironmentFile=/app/lilypad/resource-provider.env
Environment="SERVICE_SOLVER=0xd4646ef9f7336b06841db3019b617ceadf435316"
Environment="SERVICE_MEDIATORS=0x2d83ced7562e406151bd49c749654429907543b4"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lilypad resource-provider

[Install]
WantedBy=multi-user.target
