[Unit]
Description=Lilypad V2 Solver
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/lilypad"
EnvironmentFile=/app/lilypad/solver.env
Environment="SERVER_PORT=80"
Environment="SERVER_URL=http://testnet.lilypad.tech"
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lilypad solver

[Install]
WantedBy=multi-user.target
