name: Validate PR Conventional Commit

on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/PRConventionalCommits@1.2.0
        with:
          task_types: '["fix","feat","refactor","perf","spike","hotfix","revert","chore","docs","test","build"]'
          add_label: false
